<div class="container-fluid">
    <h3>Cost Code Book Detail</h3>
    <div id="buttons">
        <button id="btnEdit" type="button" class="btn btn-primary" ng-hide="isEditMode" ng-click="isEditMode = true">Edit</button>
        <button id="btnSave" type="button" class="btn btn-primary" ng-show="isEditMode" ng-click="isEditMode = false">Save</button>
        <button id="btnClose" type="button" class="btn btn-primary" ng-click="back()">Close</button>
    </div>
    <form>
        <div class="form-group">
            <label for="txtDiscipline">Discipline:</label>
            <input type="text" class="form-control" id="txtDiscipline" placeholder="Discipline" value="{{costCodeBook.discipline}}" ng-show="isEditMode">
            <div ng-hide="isEditMode">{{costCodeBook.discipline}}</div>
        </div>
        <div class="form-group">
            <label for="txtDescAcc">Descipline Account:</label>
            <input type="text" class="form-control" id="txtDescAcc" placeholder="Descipline Account" value="{{costCodeBook.desciplineAccount}}" ng-show="isEditMode">
            <div ng-hide="isEditMode">{{costCodeBook.desciplineAccount}}</div>
        </div>
        <div class="form-group">
            <label for="txtCCP1">Cost Code Part 1:</label>
            <input type="text" class="form-control" id="txtCCP1" placeholder="Cost Code Part 1" value="{{costCodeBook.costCodePart1}}" ng-show="isEditMode">
            <div ng-hide="isEditMode">{{costCodeBook.costCodePart1}}</div>
        </div>
        <div class="form-group">
            <label for="txtCCP2">Cost Code Part 2:</label>
            <input type="text" class="form-control" id="txtCCP2" placeholder="Cost Code Part 2" value="{{costCodeBook.costCodePart2}}" ng-show="isEditMode">
            <div ng-hide="isEditMode">{{costCodeBook.costCodePart2}}</div>
        </div>
        <div class="form-group">
            <label for="txtDescription">Description:</label>
            <input type="text" class="form-control" id="txtDescription" placeholder="Description" value="{{costCodeBook.description}}" ng-show="isEditMode">
            <div ng-hide="isEditMode">{{costCodeBook.description}}</div>
        </div>
        <div class="form-group">
            <label for="txtunitOfMeasure">Unit of Measure:</label>
            <input type="text" class="form-control" id="txtunitOfMeasure" placeholder="Unit of Measure" value="{{costCodeBook.unitOfMeasure}}" ng-show="isEditMode">
            <div ng-hide="isEditMode">{{costCodeBook.unitOfMeasure}}</div>
        </div>
    </form>
    url: {{previousUrl}}
</div>